.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.person-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 350px;
}

.profile-image {
  height: 320px;
  width: 340px;
}
@media screen and (max-width: 768px) {
  .person-container {
    width: 340px;
  }
  .profile-image {
    width: 340px;
  }
}
.description {
  font-size: 17px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: start;
}
@media screen and (max-width: 768px) {
  .description {
    font-size: 14px;
  }
}
button {
  margin-bottom: 10px;
  border: none;
}
