.registration-main-container {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top:20px;
  margin-bottom:20px;
  width: 80%;
}

@media screen and (max-width: 998px) {
  .registration-main-container{
    width: 100%
  }
}
.register-here-heading{
  text-align:center;
  font-size:32px;
  margin-top:10px;
}
@media screen and (max-width: 998px) {
  .register-here-heading{
    font-size:22px;
  }
}

.register-button{
  padding: 12px 0;
  background-color: #edf5f3;
  border-radius: 20px;
  width: 180px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  border:none;
  margin-top: 10px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.medical-history-heading{
  text-align:center;
  font-size:32px;
  margin-top:10px;
}
@media screen and (max-width: 998px) {
  .medical-history-heading{
    font-size:22px;
  }
}
.submit-button{
  padding: 12px 0;
  background-color: #edf5f3;
  border-radius: 20px;
  width: 180px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  border:none;
  margin-top: 10px;
  margin-bottom: 5px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.upload-side-heading{
  font-size:18px;
}